@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  --sidenavBc: #457b9d;
  --sidePlayList: #1f3550;
  --header: #1f3550;
  --background: #1f3550;
  --primary-color: #ff3366;
  --primary-background: #b83d6b;
  --background-color: #b83d6b;
  --song-hover-color: #457b9c;
  --background-white: #ffffff1a;
  --text-decs-color: #ffffff80;
  --border-primary: #ffffff1a;
  --modal: #b83d6b;
}

  .jack {
  --primary-color: #c5ad95;
  --background-color: #918f85;
  --sidenavBc: rgba(255, 255, 255, 0.1);
  --sidePlayList: #7b776e;
  --playerControl: #706c65;
  --header: #918f85;
  --modal: #7c6e68;
  --primary-background: #7c6e68;
  }

html {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.h3-heading {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;

  margin-bottom: 16px;
}

.small-btn {
  padding: 4px 12px;
  display: inline-block;
  border-radius: 16px;

  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.small-btn {
  margin-right: 16px;
}

.small-btn.primary {
  background-color: var(--primary-color);
}

.small-btn.default {
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
}

.small-btn.default:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.icon-button {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;

  font-size: 16px;
  margin: 0 2px;
  border-radius: 50%;
}

.icon-button:hover {
  background: var(--background-white);
}

/* scrool bar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #888;
}
